<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post" action="/upload/arrayUpload">
        <input type="text"  id="appId" name="appId" value="appId1234" />
        <input type="text"  id="bussId" name="bussId" value="bussId1234" />
        <input type="text"  id="contentType" name="contentType" value="01" />                         
                     文件1<input type="file" id="picfile1"  name="multipartFiles"/>
                     文件2<input type="file" id="picfile2"  name="multipartFiles"/>
        <input type="submit" value="上传"/>
    </form>
</body>
</html>